<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About the Inconceivable Quote Machine</h1>
  <p>
    The Inconceivable Quote Machine was built by me, <a target="_blank" href="https://github.com/jetcitycoder">Christopher</a> (aka <a target="_blank" href="https://github.com/jetcitycoder">jetCityCoder</a>).
  </p>
  <br />
  <p>
    This website is meant to show off my new coding skills. But, most of all, it's meant to be fun.
  </p>
  </p>
    The inspiration for this site came from my habit of often weaving relevent, funny quotes from my favorite movies and TV shows during my everyday convesation. Quotes from the <a target="_blank" href="https://en.wikipedia.org/wiki/The_Princess_Bride_(film)">The Princess Bride</a> are appropriate in so many circumstances that it ends up being one of my most quoted movies. The interactions between Vizzini, Fezzik, and Inigo Montoya are especially memorable. I named the site as a nod to several interactions between the three characters.
  </p>
  <p>
    While The Princess Bride inspired the Inconceivable Quote Machine, I wish for users to enter funny quotes from any of their favorite movies or TV shows. The only thing I ask is that quotes be family friendly, as children will be using this site.
  </p>
  <p>
    If you want to learn to code your own version of the Inconceivable Quote Machine, start <a target="_blank" href="https://thefirehoseproject.com">here</a>.
  </p>
  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'christopher.jpg', class: 'img-responsive' %>
  </div>
  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Christopher Plain</h2>
    <br />
    <p>
      I've worked 15 years in technology, most of it in Cloud and Web data center operations and hardware sales. It's time for a change. I'm moving rapidly towards a career in web and mobile development. My time is currently spent as an apprentice software developer at the <a target="_blank" href="https://thefirehoseproject.com">Firehose Project</a> and pursuing my Bachelor of Science in Information Technology from <a target="_blank" href="http://www.wgu.edu">Western Governors University (WGU)</a>. My wife, Temple, and I live in the greater Seattle area.
    </p>
    <p>
      (I know, the picture stinks. I need to replace it soon.)
    </p>
  </div>
</div>
<br class="clear" />
<br />
<br />
<br />
<br />

