<h2><span>Inconceivable Quote No. <%= @quote.id %></span></h2>
<h1>&ldquo;<%= @quote.quote %>&rdquo;</h1>
<h2 class="text-right">&ndash; <%= @quote.character %> (<%= @quote.movie %>)</h2>
<br class="clear" />
<br />
<br />
<br />
<br />