<h2><span>Inconceivable Quote No. <%= @quote.id %></span></h2>
<h1>&ldquo;<%= @quote.quotation %>&rdquo;</h1>
<h2 class="text-right">&ndash; <%= @quote.quotee %></h2>
<br class="clear" />
<br />
<br />
<br />
<br />